body {
    background:black;
}
h1 {
    color:pink; 
    text-align: center;
}
form {
    margin: 0 auto;
    width: 250px;
}
strong{
    color: white;
}
.imagen {
    text-align: center;
}
p {
    color:white;
}
.botonUno{
    color: black;
    background-color: pink;
    
}