body {
    background:black;
}
h1 {
    color:white; 
    text-align: center;
}
.strong {
    color:gray;
}
label {
    color: rgb(254, 255, 255);
}

.botonUno{
    color: #fff;
    background-color: teal;
}